body{
  margin: auto;
  background-color: whitesmoke;
}

/*CONTENT*/
#content{
  width: auto;
  height: auto;
}

/*HEADER*/
#content > header {
  margin-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 174px;
  font-family: 'Bungee Outline', cursive;
  color: black;
  background-image: url(images/package_race.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Beskrivning ovanför formuläret */
#content > main > .beskrivning {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #333;
  margin-bottom: 25px;
}

/* Main diven */
#content > main {
  text-align: center;
}

/* Knapp för att visa/dölja formuläret (syns efter formuläret har skickats) */
main > #showForm {
  position: relative;
  margin: 10px auto 15px auto;
  background-color: #378956;
}

/* Formuläret */
#content > main > #parcelForm {
  width: 65%;
  display: block;
  margin: 0 auto;
  text-align: left;
}

/* Alla H3 rubriker i formuläret */
#content > main > #parcelForm > h3 {
  text-align: center;
  text-shadow: 0px 0px 1px #000000;
  padding-top: 40px;
}

/* Labels till respektive formulär */
#content > main > #parcelForm > .col-md-6 > .form-label {
  color: #378956;
  text-shadow: 0px 0px 1px #000000;
  text-align: center;
}

/* Centrerar formuläret i diven */
#content > main > #parcelForm > div {
  margin: 0 auto;
}

/* Margin mellan de olika fälten i formuläret */
#content > main > #parcelForm label {
  margin-top: 15px;
}

/* Margin mellan de olika delarna i formuläret */
#content > main > #parcelForm label:nth-last-child(2) {
  margin-top: 50px;
}

/* Diven som håller i submit-knappen */
#content > main .col-6 {
  text-align: center;
}

/* Margin för knappen i formuläret */
#content > main #submitForm {
  margin-top: 25px;
  background-color: green;
  border: none;
}

/* Felmeddelande som visas om ett fält inte är ifyllt */
.formValidation {
  color: red;
}

/* Meddelande som visas om formuläret validerat och skickas */
#formSent {
  color: #378956;
  text-align: center;
}

/* Meddelande som visas om formuläret fick felaktigt svar tillbaka */
#formFailed {
  color: red;
  text-align: center;
}

/* Diven som håller svaret från APIet */
#content > main .travelResult {
  background-color: #666;
  height: 300px;
  position: relative;
  display: flex;
}

/* Paragraf för svaret från APIet */
#content > main .travelResult > .travelDestinations {
  color: purple;
}

/* Loader som visas medans formuläret väntar på svar */
#content > main .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #378956;
  border-right: 16px solid #378956;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

/* Loader när man klickat på formuläret */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*FOOTER*/
#content > footer {
  grid-area: footer;
  background-color: whitesmoke;
  border-top-style: solid;
  border-color: lightgrey;
  border-width: thin;
  padding-bottom: 1px;
  display: block;
}

#content > footer > p {
  text-align: center;
  color: black;
  margin: 16px 0;
}


/* FLYTTA DETTA NÄR VI FIXAT FÄRDIGT MED ANIMATIONERNA */


/* Där storyn om resan presenteras */
#content > main .story-box {
  margin-right: 50px;
}

/* Diven som flyttar sig mellan städerna */
#content > main .airplane {
  background-image: url("images/airplane.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: ;
  width: 100px;
  height: 120px;
  border-radius: 25px;
  position: absolute;
  margin-top: -150px;
  margin-left: ;
}

/* De olika städerna som genereras från APIet */
#content > main .cities {
  width: 100px;
  height: 120px;
  background-color: orange;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin: 100px 25px 0px 50px;
  animation: fadeIn ease 1s;
}

/* Fadein på städerna som presenteras */s
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


