body{
  margin: auto;
  font-family: 'Francois One', sans-serif;
  background-color: whitesmoke;
}

/*CONTENT*/
#content{
  width: auto;
  height: auto;
}

/*HEADER*/
#content > header{
  background-color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: orangered;
  font-size: 100px;
  text-decoration-line: none;
}

/* Beskrivning ovanför formuläret */
#content > main > .beskrivning {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #333;
  margin-bottom: 25px;
}

/* Formuläret */
#content > main > #parcelForm {
  width: 65%;
  display: block;
  margin: 0 auto;
}

/* Centrerar formuläret i diven */
#content > main > #parcelForm > div {
  margin: 0 auto;
}

/* Margin mellan de olika fälten i formuläret */
#content > main > #parcelForm label {
  margin-top: 15px;
}

/* Margin mellan de olika delarna i formuläret */
#content > main > #parcelForm label:nth-last-child(2) {
  margin-top: 50px;
}

/* Margin för knappen i formuläret */
#content > main #submitForm {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Felmeddelande som visas om ett fält inte är ifyllt */
.formValidation {
  color: red;
}

/* Meddelande som visas om formuläret validerat och skickas */
#formSent {
  color: green;
  text-align: center;
}

/* Diven som håller svaret från APIet */
#content > main .travelResult {
  background-color: #666;
  height: 300px;
}

/* Paragraf för svaret från APIet */
#content > main .travelResult > .travelDestinations {
  color: purple;
}

/*FOOTER*/
footer{
  grid-area: footer;
  background-color: whitesmoke;
  border-top-style: solid;
  border-color: lightgrey;
  border-width: thin;
  padding-bottom: 1px;
  display: block;
}

footer > p{
  text-align: center;
  color: orangered;
  margin: 16px 0;
}


.test-div {
  /* background-image: url(https://img.favpng.com/2/4/17/airplane-cartoon-animated-film-clip-art-png-favpng-QkQLBn9aZjQx3F3FAbVrTDr8m.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  */
  background-color: black;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: ;
  margin-left: 10%;
  bottom: 0;
  left: 0;
}

.cities {
  width: 100px;
  height: 100px;
  background-color: orange;
  display: inline-block;
  margin-left: 80px;
}
