body{
  margin: auto;
  background-color: whitesmoke;
}

/*CONTENT*/
#content{
  width: auto;
  height: auto;
}

/*HEADER*/
#content > header{
  margin-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 174px;
  font-family: 'Bungee Outline', cursive;
  color: black;
  background-image: url(images/package_race.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Beskrivning ovanför formuläret */
#content > main > .beskrivning {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #333;
  margin-bottom: 25px;
}

/* Alla H3 rubriker i main */
#content > main > h3 {
  text-align: center;
  text-shadow: 0px 0px 1px #000000;
}

/* Formuläret */
#content > main > #parcelForm {
  width: 65%;
  display: block;
  margin: 0 auto;
}

/* Alla H3 rubriker i formuläret */
#content > main > #parcelForm > h3 {
  text-align: center;
  text-shadow: 0px 0px 1px #000000;
  padding-top: 40px;
}

/* Labels till respektive formulär */
#content > main > #parcelForm > .col-md-6 > .form-label {
  color: #378956;
  text-shadow: 0px 0px 1px #000000;
  text-align: center;
  align-items: center;
}

/* Centrerar formuläret i diven */
#content > main > #parcelForm > div {
  margin: 0 auto;
}

/* Margin mellan de olika fälten i formuläret */
#content > main > #parcelForm label {
  margin-top: 15px;
}

/* Margin mellan de olika delarna i formuläret */
#content > main > #parcelForm label:nth-last-child(2) {
  margin-top: 50px;
}

/* Margin för knappen i formuläret */
#content > main #submitForm {
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: green;
  border: none;
}

/* Felmeddelande som visas om ett fält inte är ifyllt */
.formValidation {
  color: red;
}

/* Meddelande som visas om formuläret validerat och skickas */
#formSent {
  color: #378956;
  text-align: center;
}

/* Diven som håller svaret från APIet */
#content > main .travelResult {
  background-color: #666;
  height: 300px;
  position: relative;
  display: flex;
}

/* Paragraf för svaret från APIet */
#content > main .travelResult > .travelDestinations {
  color: purple;
}

/*FOOTER*/
footer {
  grid-area: footer;
  background-color: whitesmoke;
  border-top-style: solid;
  border-color: lightgrey;
  border-width: thin;
  padding-bottom: 1px;
  display: block;
}

footer > p {
  text-align: center;
  color: black;
  margin: 16px 0;
}



/* Diven som flyttar sig mellan städerna */
.test-div {
  background-image: url("images/airplane.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #aaa;
  width: 150px;
  height: 150px;
  border-radius: 25px;
  position: absolute;
  margin-top: -50px;
  margin-left: 33px;
}

/* De olika städerna som genereras från APIet */
.cities {
  width: 80px;
  height: 100px;
  background-color: orange;
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  margin: 50px 25px 0px 25px;
  animation: fadeIn ease 1s;
}

/* För att ha en fadein på städerna som presenteras */s
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
